@import './tailwindcss.css';
@import './blog.css';
@import './prose.css';
@import './prism.css';
@import './editor.css';

[data-overlay-container='true'] {
  height: 100%;
  width: 100%;
}

/** TODO: **/
* {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Helvetica Neue,
    Helvetica,
    Arial,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    sans-serif !important;
}

.snow {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  top: 0;
  left: 0;
}

@media (max-width: 640px) {
  .snow {
    opacity: 0.9;
  }
}